* {
    margin: 0;
  }
  body {
    background-color: #C7253E;
    color: rgb(235, 213, 197);
  }
  .logo img {
      width: 200px; 
      height: 200px; 
  }
  header {
    display: flex;
    width: 90%;
    height: 20vh;
    margin-top: 50px;
    align-items: center;
    font-family: Monaco;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  
  header h1 {
    text-align: left;
    color: #FABC3F;
    font-size: 70px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
  }
  .nav-item {
    padding: 20px;
    background-color: #FABC3F;
    border-radius: 40px;
    transition: background-color 0.3s;
    font-family: 'Arial', sans-serif; 
    font-size: 20px;
    text-align: center;
}
  
  .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .logo {
    margin: 25px;
    width: 20%;
    height: 155px;
    float: left;
    padding-left: 5px;
  }
  .pj {
    margin: 10px auto; 
    display: block; 
    width: 350px; 
    height: 350px; 
}
  .caja1 {
    background-color: #FFEC9E;
    padding: 20px;
    margin: 10px;
  }
  .caja2 {
    background-color: #FFBB70;
    padding: 20px;
    margin: 10px;
  }
  .caja3 {
    background-color: #ED9455;
    padding: 20px;
    margin: 10px;
  }
  h2 {
    font-size: 35px;
    color: #E72929;
  }
  p {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: 30px;
    color: black;
  }
  .pie {
    background-color: rgba(243, 239, 115, 0.428);
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
  }
  .footer-item {
    text-align: center;
    padding: 10px;
    background-color: #FFFBDA;
    border-radius: 5px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }